
<!-- Page Content -->
<!-- main app container -->
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']" >facebook application</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" [routerLink]="['/home']" ><a>Home</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> LogOut</a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">  <strong>{{currentUser.fullName}}</strong>, Welcome to your app </h1>
    <p class="lead">connect your facebook account so that you can load your photos from all albums and export them to cloud <br>
      your data is safe and secured we put our focus on security first , so don't worry
    </p>
    <div class="row">

    <button  class="loginBtn loginBtn--facebook" (click)="loginWithFacebook()">
     Link your facebook account
    </button>



    </div>
  </header>

</div>

<div class="container">
  <div class="well well-sm center-block">

    <div class="btn-group text-center">
     <a href="#" id="grid" class="btn btn-default btn-sm"><span
      class="glyphicon glyphicon-th"></span> <strong>Displaying my albums  </strong> </a>
    </div>
  </div>
  <div id="products" class="row list-group">
    <div class="item  col-sm-3" *ngFor="let item of albumsList">
      <div class="thumbnail">
        <img class="group list-group-image" src="{{item.picture}}" >
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            {{item.name}}</h4>
          <p class="group inner list-group-item-text">
            {{item.created_time}}
          <div class="row">

            <div class="col-xs-12 col-md-6">
              <a class="btn btn-primary" >View Album</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




